body {
    background-image: url('../images/bg1.jpg');
}

#main, #content {
    background-color: white;
}

#content {
    padding-top: 10px;
    padding-bottom: 21px;
}

.topline {
    padding: 4px 0px 4px 0px;
}

.navbar-default {
    background-color: transparent;
    border: none;
}

.nav-title {
    font-family: Playball;
    font-size: 25px;
    font-weight: bold;
}

.nav-subtitle {
    font-size: 10px;
}

.navbar-nav {
    margin-top: 39px;
    margin-left: 82px;
}

.navbar-brand {
    height: 142px;
    padding: 0px;
}

.navbar {
    margin-bottom: 0px;
    border-top: 1px solid #f5f5f5;
    border-bottom: 1px solid #f5f5f5;
}

.email {
    color: #919191;
    font: normal 11px/16px Arial, Helvetica, sans-serif;
}

.topline .email {
    margin: 8px 0px 0px 4px;
}

.social-icons {
    float: right;
}

.follow-us {
    color: #919191;
    font: normal 11px/16px Arial, Helvetica, sans-serif;
    font-style: italic;
    margin-right: 4px;
}

#footer {
    height: 93px;
    margin: 0 auto;
    background: url('../images/bg_footer.jpg') repeat-x left bottom;
}

#footer .bottomline {
    padding: 27px 0px 0px 0px;
}

#footer .bottomline .email {
    margin: 3px 0px 0px 4px;
}

.line {
    height: 1px;
    background: #f5f5f5;
}

#content .block_slogan {
    padding: 17px 0;
}

#content .block_slogan p {
    font: normal 16px/24px 'Oswald', sans-serif;
    color: #adadad;
    text-align: center;
    text-transform: uppercase;
}

#content .block_slogan p span {
    color: rgb(216, 167, 160)
}

.caption {
    font: normal 15px/23px 'Oswald', sans-serif;
    color: #adadad;
    text-align: center;
    text-transform: uppercase;
    max-width: 290px;
    margin: auto;
    padding: 12px 0px 12px 0px;
}

.caption:hover {
    color: rgb(216, 167, 160)
}

.clear {
    height: 1px;
    background: none;
    clear: both;
}

#shop-bridal-collection, #shop-honeymoon-collection {
    font-family: Playball;
    font-size: 35px;
    text-align: center;
    font-weight: lighter;
    line-height: 110%;
    color: rgb(216, 167, 160);
    padding: 0px 0px 0px 130px;
}

#shop-bridal-collection {
    background-image: url('/assets/images/bridal_collection.jpg');
    max-width: 448px;
    height: 402px;
}

#shop-honeymoon-collection {
    background-image: url('/assets/images/honeymoon_collection.jpg');
    max-width: 448px;
    height: 402px;
}

.navbar-default .navbar-nav>li>a:hover {
    color: rgb(216, 167, 160)
}

h3 {
    font-family: Playball;
    color: rgb(216, 167, 160);
    font-size: 30px;
}

h4 {
    font: normal 15px/23px 'Oswald', sans-serif;
    color: #adadad;
    text-transform: uppercase;
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}

@media (max-width: 992px) {
    #shop-bridal-collection, #shop-honeymoon-collection {
        padding: 0px;
    }
    .card {
        margin: auto;
        text-align: center;
    }
    .nav-title {
        font-size: 30px;
    }
    .navbar-nav {
        margin-top: 20px;
        margin-left: 20px;
    }
}

@media (max-width: 767px) {


    #shop-bridal-collection, #shop-honeymoon-collection {
        font-size: 35px;
        padding: 0px;
    }

    .navbar-nav {
        margin-top: 20px;
        margin-left: 0px;
    }

    .card {
        margin: auto;
    }
    .navbar-nav {
        max-height: 44px;
    }
}

a:hover {
    text-decoration: none;
}
