<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ site.title }} - {{ page.title }}</title>

{% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
<meta name="author" content="{{ site.author.name }}">

<link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>

<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css' />
<link href='http://fonts.googleapis.com/css?family=Open+Sans:700' rel='stylesheet' type='text/css' />

<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/style.css" />
<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/prettyPhoto.css" />
<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/jquery.ad-gallery.css" />
<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.min.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.inputstext.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/js/main.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/js/jquery.ad-gallery.js"></script>
<script type="text/javascript" src="{{ ASSET_PATH }}/js/slider3.js"></script>

<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/themes.css" />
<link rel="stylesheet" type="text/css" href="{{ ASSET_PATH }}/css/theme_style.css" />
<script type="text/javascript" src="{{ ASSET_PATH }}/js/setting_themes.js"></script>

</head>

<body>
<div id="wrapper">
	<div id="header">
    	<div class="inner">
			<div class="block_top_navigation">
	        	<div class="col_1">
	            	<p>Email us now: info@loveartwearart.com</p>
	            </div>
	        	<div class="col_2">
	            	<div class="block_social_top">
                    	<p>Follow us:</p>
                      <a href="http://www.facebook.com/loveartwearart" class="facebook">Facebook</a>
                      <a href="http://twitter.com/loveartwearart" class="twitter">Twitter</a>
	                </div>
	            </div>
            </div>
            <div class="line"></div>
            <div id="logo" style="display: inline;">
              <a href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/images/logo.jpg" alt="{{site.title}}" title="{{ site.title }}" /></a>
            </div>

            <div style="display: inline-block">
              <div class="block_mid">
                  <div id="menu">
                    <ul>
                      {% for menu_item in site.menu %}

                        {% if page.url == menu_item.url %}
                        <li class="active">
                          <a href="{{ menu_item.url }}" class="active">{{menu_item.title}}<span>{{menu_item.tagline}}</span></a>
                        </li>
                        {% else %}
                        <li>
                          <a href="{{ menu_item.url }}">{{menu_item.title}}<span>{{menu_item.tagline}}</span></a>
                        </li>
                        {% endif %}

                      {% endfor%}
                    </ul>
                  </div>
              </div>
            </div>
            <div class="line"></div>
        </div>
	</div>
	<div id="content">
    <div class="inner">
      {{ content }}
    </div>
  </div>
	<div id="footer">
    	<div class="inner">
    		<div class="line"></div>
            <div class="block_footer">
            	<div id="logo_footer">
	            	<a href="{{ HOME_PATH }}"><img src="{{ ASSET_PATH }}/images/logo_f.jpg" alt="{{site.title}}" title="{{site.title}}" /></a>
	            </div>
                <div class="block_copyrights">
                	<p>Love Art Wear Art, London</p>
					        <p>email: info@loveartwearart.com</p>
                </div>
                <div class="block_social_footer">
                    <p>Follow us:</p>
                    <a href="http://www.facebook.com/loveartwearart" class="facebook">Facebook</a>
                    <a href="http://twitter.com/loveartwearart" class="twitter">Twitter</a>
                </div>
            </div>
       	</div>
    </div>
</div>

{% include L/analytics %}

</body>
</html>
